@font-face {
  font-family: 'PTSans-Regular';
  src: url(./PTSans-Regular.eot);
  src: url(./PTSans-Regular.eot?#iefix) format('embedded-opentype'),
       url(./PTSans-Regular.otf) format('otf'),
       url(./PTSans-Regular.svg#PTSans-Regular) format('svg'),
       url(./PTSans-Regular.ttf) format('truetype'),
       url(./PTSans-Regular.woff) format('woff'),
       url(./PTSans-Regular.woff2) format('woff2');
}
