.header {
    background-color: #313131;
    font: 400 14px/16px roboto, sans-serif;
}
.header > div {
    width: 1400px;
    margin: auto;
}

.header > div > div:last-child {
    float: right;
}

.header > div > div > ul > li {
    color:#FFFFFF;
    padding: 20px;
    float: left;
}

.header > div > div:last-child > ul > li:nth-child(1) {
    background: url(Img/phone.png) no-repeat center left;
    padding-left: 30px;
}

.header > div > div:last-child > ul > li:nth-child(2) {
    background: url(Img/phone.png) no-repeat center left;
    padding-left: 30px;
}

.clearfix::after {
    content: "";
    display: block;
    clear:both;
}