.cta {
    padding: 180px 0;

    background: linear-gradient(
                180deg,
                $dark 10.42%,
                rgba(36, 43, 51, 0.00) 50.52%,
                $dark 90.10%),
                linear-gradient(0deg,
                rgba(36, 43, 51, 0.10) 0%,
                rgba(36, 43, 51, 0.10) 100%),
                url('./../img/cta/cta-bg.jpg') no-repeat center;

    @include mediaTablet {
         padding: 60px 0;
    }
                
    &__title {
        margin-bottom: 17px;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;

        @include mediaTablet {
             grid-template-columns: 1fr;
        }
    }

    &__text {
        line-height: 1.5;
        p + p {
            margin-top: 1em;
        }

        @include mediaTablet {
             font-size: 14px;
        }
    }

    &__form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 35px 30px;

        @include mediaTablet {
             grid-template-columns: 1fr;
        }
    }
}
