.footer {
    background-color: $footer-bg;
    padding-top: 72px;
    padding-bottom: 51px;
    font-size: 14px;
    letter-spacing: 0.04375rem;

    &__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }

    &__logo {
        margin-top: -12px;
    }

    &__nav {
    }

    &__nav-list {
        display: grid;
        gap: 15px;
    }

    &__address {
        display: grid;
        gap: 20px;
    }

    &__socials {
        display: flex;
        column-gap: 22px;
        align-items: center;
    }
}