.section-map {
    position: relative;
    padding: 180px 0;

    &__title {
        margin-bottom: 88px;

        @include mediaTablet {
             margin-bottom: 44px;
        }
    }

    &__map {}

    &::before {
        content: "V";
        z-index: -1;
        right: calc(50% + 555px);
        transform: translate(50%, 0%);
        line-height: 1.9;
        @include decorNumber;
    }

    @include mediaTablet {
         padding: 90px 0;
    }
}

.map {
    height: 358px;
    background: #626262;

}