.video {
    overflow: hidden;
    position: relative;
    text-align: center;

    &::after {
        content: "IV";
        left: calc(50% + 555px);
        transform: translate(-50%, 0%);
        line-height: 1.5;
        @include decorNumber;

    }

    &__link {
        position: relative;
        display: inline-block;
    }

    &__icon {
        z-index: 2;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.2s ease-in;

        @include mediaTablet {
             width: 80px;
             height: 80px;
        }
    }

    .video__link:hover .video__icon {
        transform: translate(-50%, -50%) scale(1.2);
        filter: saturate(1.5);
    }

    &__img {

        &:hover {
            filter: brightness(105%);
            transition: all 0.2s ease-in;
        }
    }
}
