html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

.wrapper {
    width: 1440px;
    margin: 0 auto;
}

.header_wrapper {
    width: 1248px;
    margin: 0 auto;
    margin-top: 48px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header_wrapper a:hover,
.header_wrapper a:active,
.header_wrapper a:focus {
    opacity: .65;
}

.header_left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.header_logo {
    margin-right: 11px;
}

.header_left_title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 21.1758px;
    line-height: 130%;
    color: #6C5FBC;
}

.header_middle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 17.8286px;
    line-height: 27px;
    color: #606060;
    margin-left: 103px;
    width: 374px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header_right {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.header_right_login {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 17.8286px;
    line-height: 27px;
    color: #606060;
    margin-right: 35px;
}

.header_right_sign_up {
    width: 121.49px;
    height: 62.66px;
    background-color: #6C5FBC;
    border-radius: 17.8286px;
    padding: 17px 26px;
}

.header_right_sign_up:hover,
.header_right_sign_up:active,
.header_right_sign_up:focus {
    opacity: .65;
}

.header_right_button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 17.8286px;
    line-height: 27px;
    color: #F9F9F9;
    text-decoration: none;
}

.header_border_bottom {

    height: 1px;
    margin-top: 25px;
    border-bottom: 1px solid #CBCBCB;
    width: 1248px;
    margin: 25px auto 0;
}
